<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"
          asp-href-include="/lib/bootstrap/dist/**/*.min.css"
          asp-href-exclude="**/*-reboot*,**/*-grid*" />
    <title>Store</title>
</head>
<body>
    <div class="navbar navbar-inverse bg-inverse" role="navigation">
        <a class="navbar-brand" href="#">STORE</a>
    </div>
    <div class="row m-1 р-1">
        <div id="categories" class ="col-3">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCklU_P-987MhPEWIF3CweOugPZ-c6fhglTChiPnu3IX0LlGeJ" alt="icon"/>
        </div>
        <div class="col-9">
            <div>
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
