@model Toy
@using  Store.Infrastructure;

<div class="card card-outline-primary m-3 р-1 toyCard">
    <div class="р-3">
        <h4>
            @Model.Name
            <span class="badge badge-default" style="float:right">
                <small>@Model.Price.ToString("c")</small>
            </span>
        </h4>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img class="toys text-right" src="~/Resources/toys_imgs/toys.png" alt="toys" />
            </div>
            <div class="col-sm">
                <div class="card-text p-l"></div>
            </div>
        </div>
    </div>
    <form id="@Model.ToyId" asp-action="AddToCart"
          asp-controller="Cart" method="post">
        <input type="hidden" asp-for="ToyId" />
        <input type="hidden" name="returnUrl"
               value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <span class="card-text р-1">
            <button type="submit"
                    class="btn btn-outline-info btn-sm pull-right" style="float:right">
                Add То Cart
            </button>
        </span>
    </form>
</div>
