@model IEnumerable<Category>

<a class="btn btn-block"
   asp-action="List"
   asp-controller="Toy"
   asp-route-category="">
    All
    <img class="toy" src="~/Resources/toys_imgs/All.png" />
</a>

<a class="btn btn-block"
   asp-action="List"
   asp-controller="Toy"
   asp-route-category="Girls"
   asp-route-toyPage="1">
    Girls
    <img class="toy" src="~/Resources/toys_imgs/Girls.png" />
</a>

<a class="btn btn-block"
   asp-action="List"
   asp-controller="Toy"
   asp-route-category="Boys"
   asp-route-toyPage="1">
    Boys
    <img class="toy" src="~/Resources/toys_imgs/Boys.png" />
</a>

<a class="btn btn-block"
   asp-action="List"
   asp-controller="Toy"
   asp-route-category="Children"
   asp-route-toyPage="1">
    Children
    <img class="toy" src="~/Resources/toys_imgs/Children.png" />
</a>