@model IEnumerable<string>

    <a class="btn btn-block btn-secondary"
       asp-action="List"
       asp-controller="Toy"
       asp-route-category="">
       Home
    </a>

    @foreach (var category in Model)
    {
        <a class="btn btn-block
        @(category == ViewBag.SelectedCategory? "btn-primary": "btn-secondary")"
           asp-action="List"
           asp-controller="Toy"
           asp-route-category="@category"
           asp-route-toyPage="1">
           @category
        </a>
    }